Repository lfofelipe2-ux/controlFin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(eslint): remove old eslint config files after migration to flat config
  .eslintrc.js
  eslint.config.js
Due: eslint --fix, prettier --write

docs(validation): add comprehensive cursor rules validation report
  docs/RULES-VALIDATION-REPORT.md
Due: prettier --write

fix(ci): add vitest dependencies and remove root eslint config
  controlfin-backend/node_modules/.package-lock.json
  controlfin-backend/package-lock.json
  controlfin-backend/package.json
  controlfin-frontend/package-lock.json
  controlfin-frontend/package.json
  eslint.config.mjs
Due: prettier --write

fix(ci): update ci workflow and backend eslint config for tests
  .github/workflows/ci.yml
  controlfin-backend/.eslintrc.cjs
  controlfin-backend/eslint.config.cjs
Due: prettier --write

fix(backend): migrate eslint to flat config format
  controlfin-backend/eslint.config.mjs
Due: none

chore(backend): remove old eslint.config.cjs file
  controlfin-backend/eslint.config.cjs
Due: none

fix(backend): revert to eslintrc.cjs format for compatibility
  controlfin-backend/.eslintrc.cjs
Due: none

chore(backend): remove eslint.config.mjs file
  controlfin-backend/eslint.config.mjs
Due: none

fix(ci): use eslint legacy config format for backend
  .github/workflows/ci.yml
Due: prettier --write

fix(backend): replace console.log with fastify.log.info
  controlfin-backend/src/server.ts
Due: eslint --fix, prettier --write

docs(archive): complete foundation phase reflection and archiving
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
  docs/archive/archive-foundation-infrastructure-20250127.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-foundation-infrastructure.md
  memory-bank/tasks.md
Due: prettier --write

fix: correct server log message to match actual binding address
  controlfin-backend/src/server.ts
Due: eslint --fix, prettier --write

feat: implement backend authentication system (task-004)
  controlfin-backend/package-lock.json
  controlfin-backend/package.json
  controlfin-backend/src/config/database.ts
  controlfin-backend/src/middlewares/auth.middleware.ts
  controlfin-backend/src/modules/auth/auth.routes.ts
  controlfin-backend/src/modules/auth/auth.schemas.ts
  controlfin-backend/src/modules/auth/auth.service.ts
  controlfin-backend/src/modules/users/user.model.ts
  controlfin-backend/src/server.ts
  docs/archive/archive-task-004-backend-auth-20250127.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-task-004-backend-auth.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

docs: update copilot and claude instructions
  .github/copilot-instructions.md
  CLAUDE.md
Due: prettier --write

Potential fix for code scanning alert no. 87: Missing rate limiting
  controlfin-backend/src/modules/auth/auth.routes.ts
Due: eslint --fix, prettier --write

fix: address pr review issues
  .github/copilot-instructions.md
  CLAUDE.md
  controlfin-backend/src/modules/auth/auth.routes.ts
  controlfin-backend/src/modules/auth/auth.schemas.ts
Due: eslint --fix, prettier --write

docs: add pr review recommendations to planning
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: prettier --write

feat: initialize task-006 authentication ui components
  memory-bank/activeContext.md
  memory-bank/tasks.md
Due: prettier --write

feat: complete task-006 planning phase
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: prettier --write

feat: complete creative phases for task-006 authentication ui
  memory-bank/activeContext.md
  memory-bank/creative/creative-authentication-ui-ux.md
  memory-bank/creative/creative-error-state-design.md
  memory-bank/creative/creative-responsive-design-patterns.md
  memory-bank/tasks.md
Due: prettier --write

feat: confirm blockai design system conformity
  memory-bank/creative/creative-authentication-ui-ux.md
  memory-bank/creative/creative-design-conformity-analysis.md
  memory-bank/creative/creative-error-state-design.md
  memory-bank/creative/creative-responsive-design-patterns.md
  memory-bank/tasks.md
Due: prettier --write

feat: implement blockai theme system - phase 1 complete
  controlfin-frontend/index.html
  controlfin-frontend/package-lock.json
  controlfin-frontend/package.json
  controlfin-frontend/src/App.tsx
  controlfin-frontend/src/components/BlockAIThemeProvider.tsx
  controlfin-frontend/src/hooks/useBlockAITheme.ts
  controlfin-frontend/src/themes/blockAITheme.ts
  controlfin-frontend/src/types/theme.ts
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

feat: implement core authentication components - phase 2 complete
  controlfin-frontend/src/App.tsx
  controlfin-frontend/src/components/auth/AuthPage.tsx
  controlfin-frontend/src/components/auth/LoginForm.tsx
  controlfin-frontend/src/components/auth/RegisterForm.tsx
  controlfin-frontend/src/components/auth/index.ts
  controlfin-frontend/src/hooks/useAuth.ts
  controlfin-frontend/src/services/authService.ts
  controlfin-frontend/src/types/auth.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

feat: complete authentication ui components with forgot/reset password
  controlfin-frontend/src/components/auth/AuthPage.tsx
  controlfin-frontend/src/components/auth/ForgotPasswordForm.tsx
  controlfin-frontend/src/components/auth/ResetPasswordForm.tsx
  controlfin-frontend/src/components/auth/index.ts
  controlfin-frontend/src/services/authService.ts
  docs/archive/archive-task-006-auth-ui-components-20250127.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/reflection/reflection-task-006-auth-ui-components.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

fix: address pr review feedback
  controlfin-frontend/src/components/auth/ForgotPasswordForm.tsx
  controlfin-frontend/src/components/auth/RegisterForm.tsx
  controlfin-frontend/src/components/auth/ResetPasswordForm.tsx
  controlfin-frontend/src/hooks/useBlockAITheme.ts
  controlfin-frontend/src/hooks/usePasswordStrength.ts
  controlfin-frontend/src/types/auth.ts
  controlfin-frontend/src/types/theme.ts
Due: eslint --fix, prettier --write

docs: update memory bank with merge status
  memory-bank/activeContext.md
Due: prettier --write

fix: improve layout spacing and padding issues
  controlfin-frontend/src/components/auth/AuthPage.tsx
  controlfin-frontend/src/components/auth/LoginForm.tsx
  controlfin-frontend/src/components/auth/RegisterForm.tsx
  controlfin-frontend/src/index.css
Due: eslint --fix, prettier --write

fix: ensure background gradient covers full viewport
  controlfin-frontend/src/components/auth/AuthPage.tsx
  controlfin-frontend/src/index.css
Due: eslint --fix, prettier --write

fix: eliminate white background borders - validated with playwright
  .playwright-mcp/background-fix-validation.png
  .playwright-mcp/background-validation-fullpage.png
  .playwright-mcp/background-validation-viewport.png
  controlfin-frontend/src/index.css
  memory-bank/custom_modes/ui_ux_validation_workflow.md
Due: prettier --write

fix: ensure gradient covers all resolutions - validated with playwright
  .playwright-mcp/fix-1920x1080.png
  .playwright-mcp/fix-3840x2160.png
  .playwright-mcp/resolution-1366x768.png
  .playwright-mcp/resolution-1920x1080.png
  .playwright-mcp/resolution-2560x1440.png
  .playwright-mcp/resolution-3840x2160.png
  controlfin-frontend/src/components/auth/AuthPage.tsx
Due: eslint --fix, prettier --write

fix: improve register form ui/ux issues - validated with playwright
  .playwright-mcp/register-form-error-spacing.png
  .playwright-mcp/register-form-fixed-hover.png
  .playwright-mcp/register-form-hover-issue.png
  .playwright-mcp/register-form-issues.png
  controlfin-frontend/src/components/auth/RegisterForm.tsx
  controlfin-frontend/src/index.css
Due: eslint --fix, prettier --write

feat: establish development standards and memory bank documentation
  controlfin-frontend/package-lock.json
  controlfin-frontend/package.json
Due: prettier --write

docs: update active context with standards completion status
  memory-bank/activeContext.md
Due: prettier --write

feat: complete memory bank documentation and development standards
  .github/workflows/quality-gates.yml
  docs/memory-bank-manual.md
  memory-bank/custom_modes/critical_analysis_report.md
  memory-bank/custom_modes/development_standards.md
  memory-bank/tasks.md
Due: prettier --write

docs: update memory bank manual to match official v0.7-beta
  docs/memory-bank-manual-old.md
Due: prettier --write

feat(task-007): implement i18n foundation and base components
  controlfin-frontend/src/components/base/Button/Button.scss
  controlfin-frontend/src/components/base/Button/Button.tsx
  controlfin-frontend/src/components/base/Button/Button.types.ts
  controlfin-frontend/src/components/base/Button/index.ts
  controlfin-frontend/src/components/base/FormField/FormField.scss
  controlfin-frontend/src/components/base/FormField/FormField.tsx
  controlfin-frontend/src/components/base/FormField/FormField.types.ts
  controlfin-frontend/src/components/base/FormField/index.ts
  controlfin-frontend/src/components/base/Input/Input.scss
  controlfin-frontend/src/components/base/Input/Input.tsx
  controlfin-frontend/src/components/base/Input/Input.types.ts
  controlfin-frontend/src/components/base/Input/index.ts
  controlfin-frontend/src/components/base/index.ts
  controlfin-frontend/src/config/i18n.ts
  controlfin-frontend/src/locales/en/auth.json
  controlfin-frontend/src/locales/en/common.json
  controlfin-frontend/src/locales/pt/auth.json
  controlfin-frontend/src/locales/pt/common.json
  controlfin-frontend/src/main.tsx
  controlfin-frontend/src/providers/I18nProvider.tsx
  controlfin-frontend/src/types/i18next.d.ts
  controlfin-frontend/tsconfig.app.json
  memory-bank/.qa_validation_status
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

feat(task-007): add design tokens and refactor loginform with i18n
  controlfin-frontend/src/components/auth/LoginForm.tsx
  controlfin-frontend/src/design-tokens/colors.ts
  controlfin-frontend/src/design-tokens/components.ts
  controlfin-frontend/src/design-tokens/index.ts
  controlfin-frontend/src/design-tokens/spacing.ts
  controlfin-frontend/src/design-tokens/tokens.ts
  controlfin-frontend/src/design-tokens/typography.ts
  memory-bank/progress.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

feat(task-007): refactor auth components with i18n integration
  controlfin-frontend/src/components/auth/AuthPage.tsx
  controlfin-frontend/src/components/auth/ForgotPasswordForm.tsx
  controlfin-frontend/src/components/auth/LoginForm.tsx
  controlfin-frontend/src/components/auth/RegisterForm.tsx
  controlfin-frontend/src/components/auth/ResetPasswordForm.tsx
  controlfin-frontend/src/components/base/Button/Button.tsx
  controlfin-frontend/src/components/base/Button/Button.types.ts
  controlfin-frontend/src/components/base/FormField/FormField.tsx
  controlfin-frontend/src/components/base/FormField/FormField.types.ts
  controlfin-frontend/src/components/base/Input/Input.tsx
  controlfin-frontend/src/components/base/Input/Input.types.ts
  memory-bank/activeContext.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

docs(task-007): add comprehensive reflection documentation
  controlfin-frontend/src/components/auth/RegisterForm.tsx
  controlfin-frontend/src/components/auth/ResetPasswordForm.tsx
  controlfin-frontend/src/components/base/FormField/FormField.tsx
  controlfin-frontend/src/components/base/Input/Input.tsx
  memory-bank/activeContext.md
  memory-bank/reflection/reflection-task-007-i18n-ui-standards.md
  memory-bank/tasks.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{scss,css})
